/* #header {
    background-image: url("./Bookshelf Logo.png");
    color: white;

} */


.hero-section {
    background: url("./bookshelf.png") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}
  
.hero-section .hero-section-text {
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}
   

.animated-search-form[type=search] {
    width: 10rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png");
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
}
  
.animated-search-form[type=search]:focus {
    width: 100%;
}
  

.about-the-author {
    background-color: #fefefe;
    padding: 1rem;
    border: 1px solid #cacaca;
}
  
.about-the-author .separator-left {
    text-align: left;
}
  
.about-the-author .separator-left::before, .about-the-author .separator-left::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
}
  
.about-the-author .separator-left::after {
    clear: both;
}
  
.about-the-author .separator-left::after {
    position: relative;
    width: 5rem;
    border-bottom: 0.125rem solid #1779ba;
    margin: 0.3rem auto 0;
    margin-left: 0;
}
  
.about-the-author .author-title {
    text-transform: uppercase;
}
  
.about-the-author .author-social {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
  
.about-the-author .author-social .fa-stack {
    display: inline-block;
}
  
  
.about-the-author .author-image {
    border: 1px solid #cacaca;
}
  
    
/* h1 {
    text-align: center;
}

#container {
    padding-left: 3%;
    padding-right: 3%;
}

hr {
    width: 90%;
}

footer {
    text-align: center;
    color: lightgray;
} */