.hero-section {
    background: url("./bookshelf5.jpeg") 50% no-repeat;
    background-size: cover;
    height: 60vh;
    text-align: center;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 10px;
}
  
.hero-section .hero-section-text {
    color: #fefefe;
}
     
.animated-search-form[type=search] {
    width: 250px;
    border: 0.125rem solid #e6e6e6;
    border-radius: 0;
    /* background-image: url("//image.ibb.co/i7NbrQ/search_icon_15.png"); */
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
    align-content: center;
    border-radius: 10px;
}
  
.animated-search-form[type=search]:focus {
    width: 100%;
    align-content: center;
    border-radius: 10px;
}
  
.about-the-author {
    background-color: #fefefe;
    padding: 1rem;
    border-radius: 10px;
    background-color: #d4d9de61
}
  
.about-the-author .separator-left {
    text-align: left;
}
  
.about-the-author .separator-left::before, .about-the-author .separator-left::after {
    display: table;
    content: ' ';
    -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
            flex-basis: 0;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
}
  
.about-the-author .separator-left::after {
    clear: both;
}
  
.about-the-author .separator-left::after {
    position: relative;
    width: 5rem;
    border-bottom: 0.125rem solid #cacaca;
    margin: 0.3rem auto 0;
    margin-left: 0;
}
  
.about-the-author .author-title {
    text-transform: uppercase;
}
  
.about-the-author .author-social {
    text-align: center;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
}
  
.about-the-author .author-social .fa-stack {
    display: inline-block;
}

#container {
    padding-left: 6%;
    padding-right: 6%;
}

hr {
    width: 90%;
    border: 0.5px solid #cacaca;
}

h5 {
    font-size: 17px;
    font-family: 'Tajawal', sans-serif;
}

h1 {
    font-size: 50px;
    font-family: 'Tajawal', sans-serif;
}

footer {
    text-align: center;
    color: lightgray;
}

h7 {
    font-family: 'Tajawal', sans-serif;
    font-size: 12px;    
}


  